@font-face {
    font-family: 'Flexo-CapsDEMO';
    src: url('../fonts/Flexo-CapsDEMO-webfont.woff2') format('woff2'),
         url('../fonts/Flexo-CapsDEMO-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

